#header {
    text-align: center;
    font-size: 30px;
    color: brown;
    background-color: rgb(203, 248, 158);
}
#navegação li {
    display: inline-block;
    margin-left: 30px;
    color: crimson;

}
#navegação li:hover {
    color: darkmagenta;
}
#navegação li:active {
    color: black;
}
#navegação {
    border: 1px solid;
    background-color: rgb(203, 248, 158);
}
#fato {
    color: black;
    text-align: center;
}
body {
    background-color: rgb(252, 215, 173);
}
#foto1 {
    padding-top: 10px;
    padding-left: 350px;
}
#foto2 {
    width: 10px;
    padding-top: 10px;
    padding-left: 350px;
}
#rodapé {
    background-color: rgb(203, 248, 158);
    text-align: center;
}
h4 {
    color: darkred;
}
h3 {
    color: rgb(155, 23, 23);
}
h2 {
    text-align: center;
    color: rgb(226, 67, 67);
}
aside {
    background-color: rgb(221, 248, 180);
    color: deeppink;
    display: block;
    border: 2px solid darkred;
    height: 85px;
    width: 100px;
    padding: 10px;
    position: absolute;
    margin-left: 800px;
    margin-top: 100px;
   
}
#section4 {
    display: block;
    width: 700px; 
    position: absolute; 
    margin-top: 100px; 
}
#section1 {
    text-align: center;
}
footer {
    margin-top: 250px;
}
#section4 h4 {
    margin-left: 40px;
}

